<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">

/* src/styles/dashboard-styles.css */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ubuntu-gradient-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Audiowide", sans-serif;
  background: linear-gradient(to right, #ffc62a 3%, #e8ae25 50%, #e8970a 60%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.ubuntu-font {
   font-family: "Audiowide", sans-serif;
}

@media (max-width: 768px) {
  .ubuntu-gradient-text {
    font-size: 2rem;
  }
}